body{
    background: #6edefa;
}

h1, h2, h3, h4, h5, h6{
    font-size: 50px;
}

p{
    font-family: 'Times New Roman' serif;
    font-size: 20px;
}

img{
    height: fit-content;
    width: fit-content;

}

img:hover{
    border: 5px solid black;
}
